
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Courgette&family=Kurale&display=swap');

html{
  padding: 0;
  margin: 0;
  background: url('./img/lydsBackCel.png') no-repeat center fixed;
  background-size: 100%;
  padding-top: 4.25rem;
  height: 100%;
}

body{
  display: flex;
};

/*  Diseño Home */

section{
  display: flex;
  justify-content: center;
}

.logoContHome{
  display: flex;
  justify-content: center;
  margin-left: -.5rem;
  height: 14.75rem;
  width: 107.1%;
  background-color: #ffe6d780;
}

.logoHome{
  margin-top: -0.75rem;
  height: 16.25rem;
  width: 16.25rem;
}

.titulo{
  margin-left: 20%;
  width: 17.25rem;
  height: 2.188rem;
  font-size: 2.25rem;
  font-family: 'Courgette';
  color: #923065;
}

.btn{
  all: unset;
  display: flex;
  justify-content: center;
  margin: 3rem 5rem;
  width: 11.625rem;
  height: 2.75rem;
  border-radius: 0.938rem;
  font-family: 'Merienda One';
  font-size: 1.563rem;
  background-color: #b681e4f3;
  color: #FFFFFF;
}

/* Diseño Login */

.titLogCont{
  display: flex;
  justify-content: flex-start;
  margin-top: -4.8rem;
  margin-left: -.5rem;
  margin-bottom: 2.875rem;
  height: 7.438rem;
  width: 107.1%;
  background-color: #ffe6d780;
}

.logoLogReg{
  width: 8.188rem;
  height: 8.188rem;
  margin-top: -.25rem;
  margin-left: -.5rem;
}

.titleLogin{
  margin-left: -.5rem;
  font-size: 2.3rem;
  font-family: 'Courgette';
  color: #923065;
}

.inputTitles{
  display: flex;
  justify-content:flex-start;
  font-family: 'Kurale', serif;
  font-size: 1.813rem;
  color: #003E42;
  margin-bottom: -.7rem;
  margin-left: 2.6rem;
}

.inputLog{
  all: unset;
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: 2.2rem;
  height: 3.125rem;
  width: 17.688rem;
  border-radius: .938rem;
  background-color: #FFE6D7;
  font-family: 'Kurale';
}

.linkLogReg{
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  color: #000;
  text-shadow: -.2rem 0 .2rem #fff;
}

/* Diseño Register */

.titleRegist{
  font-size: 2.3rem;
  font-family: 'Courgette';
  color: #923065;
}

.inputReg{
  all: unset;
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  margin-bottom: -1.1rem;
  margin-left: 2.2rem;
  height: 3.125rem;
  width: 17.688rem;
  border-radius: .938rem;
  background-color: #FFE6D7;
  font-family: 'Kurale';
  font-size: 1.3rem;
}

::placeholder{
  opacity: 70%;
}

/* Diseño Wall */

.inputPost{
  all: unset;
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  margin-bottom: -1.1rem;
  margin-left: 2.2rem;
  height: 5.538rem;
  width: 17.688rem;
  border-radius: .938rem;
  background-color: #FFEFE5;
  font-family: 'Kurale';
  font-size: 1.3rem;
}

::placeholder{
  opacity: 70%;
}

.btnPost{
  all: unset;
  display: flex;
  justify-content: center;
  margin: 1.3rem 13rem;
  width: 6.875rem;
  height: 2.188rem;
  border-radius: 0.625rem;
  padding-top: .2rem;
  font-family: 'Merienda One';
  font-size: 1.25rem;
  background-color: #b681e4f3;
  color: #FFFFFF;
}

.allPosts{
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  margin-bottom: -1.1rem;
  margin-left: 4%;
  height: 100%;
  width: 19.813rem;
  border-radius: .938rem;
  background-color: #24d5f862;
  font-family: 'Kurale';
  font-size: 1.3rem;
}

.posts{
  display: flex;
  justify-content: center;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  margin-left: 1rem;
  height: 5.538rem;
  width: 17.688rem;
  border-radius: .938rem;
  background-color: #FFEFE5;
  font-family: 'Kurale';
  font-size: 1.3rem;
}

/* Diseño para escritorio */

/* @media only screen and (min-width: 722px) {



} */